<nav>
	<ul>
		<li><%=link_to "Home", root_path %></li>
		<li><%=link_to "About Us", about_path %></li>
		<li><%=link_to "How to Join", join_path %></li>
		<li><%=link_to "What You Need", need_path %></li>
		<li><%=link_to "Programme", programme_path %></li>
		<li><%=link_to "Newsletters", newsletters_path %></li>
		<li><%=link_to "Club Matters", matters_path %></li>
		<li><%=link_to "How to Get There", location_path %></li>
		<li><%=link_to "Book a Lawn", book_path %></li>
		<li>Links
			<ul>
	            <li>The Croquet Association
					<ul>
						<li><a href="http://www.croquet.org.uk/">CA Homepage</a></li>
						<li><a href="http://www.croquet.org.uk/tournament">CA Events</a></li>
					</ul>
	            </li>
	            <li><a href="http://www.southeastcroquet.org.uk/">SECF</a></li>
	            <li><a href="http://www.thecroquetacademy.com/">Croquet Academy</a></li>
	            <li>Croquet Equipment
	            	<ul>
	            		<li><a href="http://www.oxfordcroquet.com/equip/">Mallets, etc.</a></li>
	            		<li><a href="http://www.bowlsdirect.com/contact.htm">Whites</a></li>
	            	</ul>
	            	<li><a href="http://cornwall-croquet.org.uk/croquet_glossary.htm">Croquet Glossary</a></li>
	            	<li>Croquet Rules
	            		<ul>
	            			<li><a href="http://www.croquet.org.uk/association/laws.html">Association Rules</a></li>
	            			<li><a href="http://www.croquet.org.uk/golf/laws/contents.htm">Golf Rules</a></li>
	            		</ul>
	            	</li>
	            </li>
	        </ul>
        </li>
	</ul>
</nav>